.modal__save-button {
  width: 358px;
  height: 50.15px;
  background-color: black;
  color: white;
  margin: 48px 36px 36.51px;
  font-size: 18px;
  line-height: 21.78px;
  border-radius: 5px;
  transition: 0.5s linear;
  border: 0px;
}

.modal__save-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 650px) {
  .modal__save-button {
    width: 250px;
    height: 50px;
    font-size: 14px;
    margin: 20px 15px 20px;
  }
}
