.page {
  max-width: 1280px;
  font-family: "Inter", sans-serif;
  background-color: #000000;
  color: #ffffff;
  font-weight: 400;
  margin: 0 auto;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
