@import url(../elements/__container/elements__container.css);
@import url(../elements/__image/elements__image.css);
@import url(../elements/__text/elements__text.css);
@import url(../elements/__text-container/elements__text-container.css);
@import url(../elements/__heart/elements__heart.css);
@import url(../elements/__delete/elements__delete.css);
@import url(../elements/__heart-container/elements__heart-container.css);
@import url(../elements/__heart-number/element__heart-number.css);

.elements {
  width: 880px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 20px;
  column-gap: 17px;
  margin: 0 auto 0;
  padding: 0 0;
}

@media screen and (max-width: 900px) {
  .elements {
    width: 600px;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 36px;
    margin: 36px auto 0;
  }
}

@media screen and (max-width: 625px) {
  .elements {
    width: 282px;
    grid-template-columns: repeat(1, 1fr);
  }
}
