.elements__delete {
    background-image: url(../../../images/vector-trash.png);
    height: 19px;
    width: 18px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    right: 18px;
    top: 15px;
}