.modal__info {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  width: 358px;
  height: 27.26px;
  font-size: 14px;
  line-height: 17px;
  margin: 30px auto 0;
  justify-content: center;
  align-items: center;
}



@media screen and (max-width: 625px) {
  .modal__info {
    width: 238px;
  }
}


